.map-container {
  width: 100%;
  position: relative;
}

.map-container svg {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  fill: #ffffff;
}

.map-container .state {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 1px;
  cursor: pointer;
}

.map-container {
  display: flex;
  justify-content: center;
}

/* Styling the map SVG */
#states path {
  stroke: #ffffff;
  stroke-width: 1;
  cursor: pointer;
}

/* Styling the states on hover */
#CA:hover,
#TX:hover,
#CO:hover,
#KY:hover,
#UT:hover,
#GA:hover,
#FL:hover {
  fill: #00bfff;
  filter: brightness(150%) saturate(150%);
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: brightness(150%) saturate(150%);
    opacity: 1;
  }
  to {
    filter: brightness(200%) saturate(200%);
    opacity: 0.75;
  }
}

/* Position the dropdown container */
.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: none;
}

/* Style the dropdown list */
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

/* Show the dropdown on hover */
#states path:hover .dropdown {
  display: block;
}

#popup {
  position: absolute;
  display: none;
  padding: 10px;
  background-color: #04d9ff; /* neon blue */
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

path:hover {
  fill: lightblue;
  cursor: pointer;
}

.popup.animated {
  animation-name: none;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
